{% extends "base.html" %}

{% block title %}Lista de Estoque{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-white px-2 py-2 mb-4 rounded-3 shadow-sm">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page">Estoque</li>
  </ol>
</nav>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="fw-bold">Materiais em Estoque</h2>
    <div>

        <a href="{% url 'estoque:materiaprima_create' %}" class="btn btn-primary">
    <i class="bi bi-plus-circle"></i> Nova Matéria-Prima
</a>
<a href="{% url 'producao:produto_create' %}" class="btn btn-success ms-2">
    <i class="bi bi-box-seam"></i> Novo Produto Acabado
</a>
    </div>
</div>
<div class="container">
    <h2>Lista de Matérias-Primas em Estoque</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Matéria-prima</th>
            <th>Quantidade</th>
            <th>Unidade</th>
            <th>Valor Unitário</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for materia in materias_primas %}
        <tr>
            <td>{{ materia.nome }}</td>
            <td>{{ materia.saldoestoque.quantidade_atual|default:0 }}</td>
            <td>{{ materia.unidade_medida }}</td>
            <td>R$ {{ materia.custo_unitario }}</td>
            <td>
                <a href="{% url 'estoque:materiaprima_edit' materia.pk %}" class="btn btn-sm btn-primary">Editar</a>
                <a href="{% url 'estoque:materiaprima_delete' materia.pk %}" class="btn btn-sm btn-danger ms-2">Excluir</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">Nenhuma matéria-prima cadastrada</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2 class="mt-5">Lista de Produtos Acabados em Estoque</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Produto</th>
            <th>SKU</th>
            <th>Tipo</th>
            <th>Quantidade em Estoque</th>
        </tr>
    </thead>
    <tbody>
        {% for item in produtos_acabados %}
        <tr>
            <td>{{ item.produto.nome }}</td>
            <td>{{ item.produto.codigo_sku }}</td>
            <td>{{ item.produto.get_tipo_display }}</td>
            <td>{{ item.quantidade_estoque }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">Nenhum produto acabado cadastrado</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
